.partner {
  padding: 20px 40px 20px 40px;
  background-color: #0870ed;
  margin: 50px 80px 20px 80px;
  border-radius: 20px;
}

.partner h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.partner h3 {
  font-size: 25px;
}

.partner h6 {
  font-size: 18px;
}

.partner-details p {
  margin: 50px 100px 20px 100px;
  text-align: justify;
}

.partner-details h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 100px;
  color: #0870ed;
  text-align: center;
}

.partner-details strong {
  font-size: 25px;
}
